<md-dialog aria-label="File Upload">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Import File</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>

      <div layout="column">
        <md-input-container>
          <md-select placeholder="Repository Name" ng-model="$ctrl.repositoryTarget">
            <md-option ng-value="repository" ng-repeat="repository in $ctrl.repositoryList">{{ repository.name }}</md-option>
          </md-select>
        </md-input-container>
        <md-switch ng-model="$ctrl.noRemove" aria-label="No Remove">
          No Remove
        </md-switch>
        <md-switch ng-model="$ctrl.forceReplace" aria-label="Force Replace">
          Force Replace
        </md-switch>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised" ng-click="$ctrl.cancel()">
        Cancel
      </md-button>
      <md-button class="md-raised md-primary" ng-click="$ctrl.import()">
        Import
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
