<div role="dialog" layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>File Upload Select</h2>
    </div>
  </md-toolbar>

  <md-progress-linear md-mode="determinate" value="{{$ctrl.progress}}"></md-progress-linear>

  <div layout="row">
  <md-input-container flex="50">
    <label>Upload Directory</label>
    <input required name="dirName" ng-model="$ctrl.dirName">
  </md-input-container>
  <md-input-container flex="50">
    <input required type="file" file-model="$ctrl.files" multiple />
  </md-input-container>
  </div>

  <md-card>
    <div layout="column">
      <div layout="row" ng-repeat="f in $ctrl.files">
        <div flex="75">{{ f.name }}</div>
        <div flex="25">{{ f.size | bytes }}</div>
        <md-divider>
      </div>
    </div>
  </md-card>

  <div layout="row" class="demo-dialog-button">
    <md-button md-autofocus flex="50" class="md-raised" ng-click="$ctrl.closeDialog()">
      Cancel
    </md-button>
    <md-button md-autofocus flex="50" class="md-raised md-primary" ng-click="$ctrl.uploadFiles()">
      Upload
    </md-button>
  </div>
</div>
